<a href="https://colab.research.google.com/github/pep611/python_basic/blob/main/firstpythoncode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Alice"
print("The value of the variable is =", name)
print("The data type is =", type(name))

The value of the variable is = Alice
The data type is = <class 'str'>

In [ ]:
name_v2 = 'A'
print("The value of the variable is =", name_v2)
print("The data type is =", type(name_v2))

The value of the variable is = A
The data type is = <class 'str'>

In [ ]:
int_data = 2
print("The value of the variable is =", int_data)
print("The data type is =", type(int_data))

The value of the variable is = 2
The data type is = <class 'int'>

In [ ]:
float_data = 2.0
print("The value of the variable is =", float_data)
print("The data type is =", type(float_data))

The value of the variable is = 2.0
The data type is = <class 'float'>

In [ ]:
boolean_data = False
print("The value of the variable is =", boolean_data)
print("The data type is =", type(boolean_data))

The value of the variable is = False
The data type is = <class 'bool'>

In [ ]:
list_data = [1,2,3]
print("The value of the variable is =", list_data)
print("The data type is =", type(list_data))

The value of the variable is = [1, 2, 3]
The data type is = <class 'list'>

In [ ]:
dict_data = {'name': 'Alice', 'Age': 25, 'Height': 175.0}
print("The value of the variable is =", dict_data)
print("The data type is =", type(dict_data))
print("The name is =", dict_data.get("name"))
print("The name is =", dict_data["name"])
print("The data type of name is =", type(dict_data["name"]))
print("The data type of name is =", type(dict_data["Age"]))
print("The data type of name is =", type(dict_data["Height"]))

The value of the variable is = {'name': 'Alice', 'Age': 25, 'Height': 175.0}
The data type is = <class 'dict'>
The name is = Alice
The name is = Alice
The data type of name is = <class 'str'>
The data type of name is = <class 'int'>
The data type of name is = <class 'float'>

In [ ]:
your_name = input("Please enter full name")
print("Hello", your_name, "Welcome to Python")

Please enter full nameBhanuprasad Ailavarapu
Hello Bhanuprasad Ailavarapu Welcome to Python

In [ ]:
num1 = 5
num2 = 4
print("Remainder =", num1%num2)
print("Floor =", num1//num2)
print("Division =", num1/num2)
print("Exponent =", num1**num2)
print(num1 > num2)
print(num1 < num2)
print(num1 > num2 or num1 < num2)
print(num1 > num2 and num1 < num2)
print(num1 != num2)
print(not num1 > 0)

Remainder = 1
Floor = 1
Division = 1.25
Exponent = 625
True
False
True
False
True
False

In [ ]:
num1 = input("Please enter the first number")
num2 = input("Please enter the second number")

num1_int = int(num1)
num2_int = int(num2)

print("Type of data =", type(num1_int))
print("Type of data =", type(num2_int))

print("Sum of num1 and num2 =", num1_int + num2_int)
print("Difference of num1 and num2 =", num1_int - num2_int)
print("Product of num1 and num2 =", num1_int * num2_int)
print("Division of num1 and num2 =", num1_int // num2_int)

Please enter the first number4
Please enter the second number3
Type of data = <class 'int'>
Type of data = <class 'int'>
Sum of num1 and num2 = 7
Difference of num1 and num2 = 1
Product of num1 and num2 = 12
Division of num1 and num2 = 1

In [ ]:
temp = 8

if temp > 25:
  print("It is too hot today")
elif temp < 10:
  print("It is too cold today")
else:
  print("It is normal today")

It is too cold today

In [ ]:
list1 = [1, 3, 5, 7, 8]
i = 3
while i < 5:
  print("The value of item is =",list1[i])
  print("The value of i in this iteration is =", i)
  i = i + 1

The value of item is = 7
The value of i in this iteration is = 3
The value of item is = 8
The value of i in this iteration is = 4

In [32]:
def print_name(name):
  print("The name is =", name)

print_name("Bhanuprasad")

The name is = Bhanuprasad

In [34]:
def sum_of_num(a, b):
  sum = a + b
  return sum

num1 = 5
num2 = 7

print("The sum of ", num1, " and ", num2, " is =", sum_of_num(num1, num2))

The sum of  5  and  7  is = 12

In [39]:
a = 2
def print_function(x):
  global new_var
  new_var = a
  print(x)

print_function("Test")
print(new_var)

Test
2

In [40]:
def divide(a, b):
  try:
    return a/b
  except ZeroDivisionError:
    print("Cannot divide by zero!")
    return None

result = divide(10, 0)
print(result) # None

Cannot divide by zero!
None